alabaster==1.0.0
babel==2.17.0
bidict==0.23.1
bitarray==3.7.1
certifi==2025.8.3
charset-normalizer==3.4.3
contourpy==1.3.3
cycler==0.12.1
docutils==0.21.2
fonttools==4.60.0
h5py==3.14.0
idna==3.10
imagesize==1.4.1
influxdb==5.3.2
influxdb-client==1.49.0
iniconfig==2.1.0
Jinja2==3.1.6
kiwisolver==1.4.9
labjack-ljm==1.23.0
-e git+https://github.com/larpix/larpix-control.git@0b1004c68c7760a406e0db8dc7dde0c169fc02a0#egg=larpix_control
llvmlite==0.45.0
MarkupSafe==3.0.2
matplotlib==3.10.6
msgpack==1.1.1
networkx==3.5
numba==0.62.0
numpy==2.3.3
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
Pygments==2.19.2
pyparsing==3.2.5
pyserial==3.5
pytest==8.4.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
reactivex==4.0.4
requests==2.32.5
roman-numerals-py==3.1.0
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
